# Default ignored files
*.pth
*.pyc
*loss.csv
*.csv
*.csv_old
*state.json
checkpoints*

!metrics.csv
autoencoder/old/
autoencoder/csv_transformations/
autoencoder/runs/
runs/*/*
runs*
*events.out.tfevents*
!vad_test_set.csv
!vad_train_set.csv
plots_2*
